.gridStyle {
    width: 80% !important;
    text-align: center;
    display: block;
    margin:auto;
    background: #40a9ff;
    color: #000000;
}

.gridStyle:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.activeGridStyle {
    width: 80% !important;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
    background: #096dd9;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}